.App {
  text-align: center;
  align-items: center;
  align-content: center;
}

.cards{
  margin: 3% 30% auto 30%;
  border-width: 0.25px;
  border-style:solid;
  border-color: gray;
  list-style: none;
}

.title{
  background-color: #19AEF0;
  font-weight:bolder;
  color: #fff;
  align-items: center;
  padding: 1%;

}
.content{
  background-color: white;
  text-align: initial;
  align-items: center;
  margin: 2% 2% 1% 2%;
}
.footer{
  text-align:start;
  align-content: space-between;
  background-color:#d9d9dd;
  margin: 2% 2% 1% 2%;
  padding:auto;
}
/* Aca como no sabia entrar directamente a el itirerable de cards decidi crear un div que encierre a toda la card y ponerle de className "definitive" y viendo experiencias antiguas con clases se me ocurrio que podia acceder a la clase del div si ponia un .definitive y funciono :)*/
.card_active div.definitive{
  background-color: #19AEF0;
  margin: 3% 30% auto 30%;
  border-width: 0.25px;
  border-style:solid;
  border-color: gray;
  list-style: none;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
